@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

@import "colors";
@import "common";

body {
  overflow-y: scroll;
}

main {
  margin-bottom: 70px;

  section.name {
    color: $TEXT_PRIMARY_COLOR;
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 70px;

    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }

    hgroup {
      margin-left: 50px;

      h2 {
        font-size: 34px;
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
        line-height: 42px;
        margin-bottom: 20px;
      }

      small {
        display: block;
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
        line-height: 28px;
      }
    }

    ul.icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
      // border: 1px solid red;
      list-style: none;
      margin-left: 10px;

      li {
        display: block;
        width: 60px;
        height: 60px;
        box-sizing: border-box;
        margin-left: 40px;
      }
    }
  }

  section.description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;

    p {
      display: flex;
      flex: 1;
      color: $TEXT_PRIMARY_COLOR;
      font-size: 18px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      line-height: 22px;
    }

    p:first-child {
      margin-right: 60px; 
    }
  }

  section.points {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    article {
      width: 100%;
      max-width: 700px;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 70px;

      .icon {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        display: block;
      }

      .content {
        display: flex;
        flex-direction: column;
        margin-left: 70px;
        
        h2 {
          color: $TEXT_PRIMARY_COLOR;
          font-size: 34px;
          font-family: 'Quicksand', sans-serif;
          font-weight: normal;
          line-height: 42px;
          margin-bottom: 20px;
        }
  
        p {
          color: $TEXT_PRIMARY_COLOR;
          font-size: 18px;
          font-family: 'Quicksand', sans-serif;
          font-weight: 300;
          line-height: 22px;
          margin-top: 20px;
        }
      }
    }
  }

  section.last-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 70px;

    h2 {
      width: 100%;
      color: $TEXT_PRIMARY_COLOR;
      font-size: 34px;
      font-family: 'Quicksand', sans-serif;
      font-weight: normal;
      line-height: 42px;
      text-align: left;
    }

    .container {
      width: 100%;

      ul {
        list-style-type: none;
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: -20px;
        padding: 0px;
  
        li {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          height: auto;
          background-color: #212121;
          border-radius: 10px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          padding: 40px 20px;
          margin: 20px;
          cursor: pointer;
          transition: transform 0.3s ease;
          &:hover {
            transform: scaleX(1.05) scaleY(1.05);
            transition: transform 0.3s ease;
          }

          .icon {
            width: 130px;
            height: 130px;
            display: block;
          }

          h3 {
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
            font-weight: normal;
            line-height: 22px;
            color: $TEXT_PRIMARY_COLOR;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 0px;
          }
        }
      }
    }

    
  }
}