$BG_COLOR: #1F2124;
$HEADER_LINK_COLOR: rgba(255,255,255,0.6);
$HEADER_LINK_ACTIVE_COLOR: #81AF65;
$HEADER_LINK_HOVER_COLOR: #81AF65;
$TEXT_PRIMARY_COLOR: rgba(255,255,255,0.6);
$TEXT_MARKED_COLOR: #81AF65;
$BUTTON_COLOR: #81AF65;
$FOOTER_COLOR: rgba(255,255,255,0.2);
