@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
}

body {
  background-color: $BG_COLOR;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $HEADER_LINK_COLOR;
      margin-left: 20px;
      margin-right: 20px;
      transition: color 0.4s ease;

      &:hover {
        color: $HEADER_LINK_HOVER_COLOR;
        transition: color 0.4s ease;
      }

      &.active {
        color: $HEADER_LINK_ACTIVE_COLOR;
      }
    }
  }
}

main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 900px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: flex-start;

  .title {
    width: 100%;
    box-sizing: border-box;

    h1 {
      color: $TEXT_PRIMARY_COLOR;
      font-size: 50px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      line-height: 62px;
      margin-top: 0px;
      margin-bottom: 5px;
    }

    small {
      color: $TEXT_PRIMARY_COLOR;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
    }
  }

}

footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: $FOOTER_COLOR;
}
