@import "colors";
@import "common";

main {
  section.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 70px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h2 {
        width: auto;
      }

      a {
        display: block;
        text-decoration: none;
        color: $SECTION_TITLE_LINK_COLOR;
        font-size: 24px;
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
        line-height: 30px;
        text-align: right;

        &:hover {
          color: $SECTION_TITLE_LINK_HOVER_COLOR;
          transition: color 0.4s ease;
        }
  
        &.active {
          color: $SECTION_TITLE_LINK_ACTIVE_COLOR;
        }
      }
    }

    .container {
      width: 100%;
      margin-top: 40px;

      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: -20px;
        padding: 0px;
  
        li {
          display: flex;
          flex: 1;
          max-width: 273px;
          min-width: 273px;
          flex-direction: column;
          align-items: center;
          height: auto;
          background-color: #212121;
          border-radius: 10px;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          padding: 40px 20px;
          margin: 20px;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:hover {
            transform: scaleX(1.05) scaleY(1.05);
            transition: transform 0.3s ease;
          }

          .icon {
            width: 130px;
            height: 130px;
            display: block;
          }

          h3 {
            font-size: 18px;
            font-family: 'Quicksand', sans-serif;
            font-weight: normal;
            line-height: 22px;
            color: $TEXT_PRIMARY_COLOR;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}